gotowebinar-sapi/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:oauth="http://www.mulesoft.org/schema/mule/oauth" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/oauth http://www.mulesoft.org/schema/mule/oauth/current/mule-oauth.xsd
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="33bea595-fc6a-4935-a654-0c25affb88c7" />
	
	
	<flow name="getAllWebinars" doc:id="5a06b444-790e-4327-bf32-0273b52330c4" >
		<try doc:name="Try" doc:id="d78252de-e24a-48f9-8476-a639d596fbf2" >
			<http:request method="GET" doc:name="gtw-api-webinars" doc:id="7109cab8-3c8a-4433-8bae-84b3a5d23f16" config-ref="HTTP_Request_configuration1" path="${secure::webinarpath}">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : attributes.headers."authorization"
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/java
---
{
	"fromTime" : attributes.queryParams.fromTime,
	"toTime" : attributes.queryParams.toTime
}]]]></http:query-params>
		</http:request>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="Error Propagate" doc:id="69348cf1-1702-4fd7-8573-de3b1ffefda8" type="ANY" >
					<ee:transform doc:name="error-message" doc:id="9f8127da-3a35-40f0-a2c0-cc46effda981" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Error fetching Webinars Details"
}]]></ee:set-payload>
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="httpStatus" ><![CDATA["501"]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</on-error-propagate>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Log: webinars-fetched" doc:id="48d62d32-1e18-489c-9a71-fc16f1ed082f" message="Webinar Details Fetched Succesfully"/>
	</flow>
</mule>
